body{
	/*background-image: url("background1.jpg"); */
	font-family: "Arial";
	/* color: white; */
	color: black;
/*	margin-right: 15%;
	margin-left: 15%; */	
	margin-top: 0;
	flex-direction: column;
	justify-content: center;
}

/* limits webpage to a certain length (# of pixels) across the screen */
div.content,
.navbar
{
	width: 70%;
	margin: 0 auto;
}

/*.navbar{
	display: flex;
	flex-direction: row;
	justify-content: center;
}*/

/* navigation bar */

li{
	float: left;
}

li a{
	display: block;
	color: #F0B323;
	text-align: center;
	padding: 14px 20px;
	text-decoration: none;
	border-right: .5px solid white;
}

.navbar li~li{
	border-left: .5px solid white;
}

li a:hover:not(.active) {
	background-color: #F0B323;
	color: white;
    transition-duration: 0.35s;
}

.active{
	/* this doesn't work, supposed to make active link stay a certain color */
	background-color: #F0B323;;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #115740;
	/* makes navbar stay at top */
	/* position: fixed; - this hides the text at the top 
	top: 0;
	width: 100%; */
}

/* end navbar */


.button{
	background-color: #115740;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}


.button1{
	background-color: #115740;
	color: black;
}

.button1:hover{
	background-color: #115740;
	color: white;
}

